@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.TodoApp {
    font-family: "Open Sans";
    background-color: #0a3d62;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}