@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.TodoList a {
  color: #b71540;
  text-align: center;
  margin: 5px auto;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  display: inline-block;
  background-color: #FFFFFF;
  border: solid 2px #b71540;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  }

.TodoList ul {
  list-style: none;
  padding-left: 0;
}

